<template>
  <v-container fluid class="lighten-5 d-flex h-100 flex-column">
    <v-row>
      <v-col cols="12">
        <div class="pa-4">
          <span class="Hearder">Send Transection 3PL</span>
        </div>

        <div class="ml-4">
          <v-row class="align-center">
            <v-col cols="2">
              <datetime />
            </v-col>

            <v-col cols="2">
              <v-select
                class="hubSelect"
                :items="hubSelect"
                label="HUB"
                dense
                hide-details
                color="rgb(255, 115, 0)"
                outlined
              ></v-select>
            </v-col>
          </v-row>
        </div>

        
        <v-col>
          <v-data-table
            :headers="headers"
            :items="desserts"
            :items-per-page="5"
            class="elevation-1"
            checkbox-color="orange"
            show-select
          >
            <template v-slot:item.driverName="{ item }">
              <div>{{ item.driverName }}</div>
              <v-btn
                v-if="item.vehicleType == 'bike'"
                rounded
                color="#DFC901"
                dark
                x-small
                >{{ item.vehicleType }}</v-btn
              >

              <v-btn
                v-if="item.vehicleType == 'Car'"
                rounded
                color="#97D614"
                dark
                x-small
                >{{ item.vehicleType }}</v-btn
              >

              <v-btn
                v-if="item.vehicleType == 'Truck'"
                rounded
                color="#DF6C01"
                dark
                x-small
                >{{ item.vehicleType }}</v-btn
              >

              <v-btn
                v-if="item.vehicleType == 'Cool Truck'"
                rounded
                color="#0174DF"
                dark
                x-small
                >{{ item.vehicleType }}</v-btn
              >
            </template>

            <template v-slot:item.pickup="{ item }">
              <div class="d-flex justify-center align-center h-100">
                <v-text-field
                  class="fieldInput"
                  label="Point"
                  outlined
                  hide-details
                  readonly
                  v-model="item.pickup"
                  dense
                ></v-text-field>
              </div>
            </template>

            <template v-slot:item.dispatch="{ item }">
              <div class="d-flex justify-center align-center h-100">
                <v-text-field
                  class="fieldInput"
                  label="Point"
                  outlined
                  hide-details
                  readonly
                  v-model="item.dispatch"
                  dense
                ></v-text-field>
              </div>
            </template>

            <template v-slot:item.fieldPenalty="{ item }">
              <div class="d-flex justify-center align-center h-100">
                <v-text-field
                  class="fieldInput"
                  label="THB"
                  outlined
                  hide-details
                  readonly
                  :value="isdecimal(item.penalty)"
                  @input="changeInput($event, item.penalty)"
                  dense
                ></v-text-field>
              </div>
            </template>

            <template v-slot:item.fieldWage="{ item }">
              <div class="d-flex justify-center align-center h-100">
                <v-text-field
                  class="fieldInput"
                  label="THB"
                  outlined
                  hide-details
                  readonly
                  :value="isdecimal(item.wage)"
                  @input="changeInput($event, item.wage)"
                  dense
                ></v-text-field>
              </div>
            </template>
          </v-data-table>
        </v-col>
      </v-col>
    </v-row>
    <v-row class="flex-grow-0 d-flex justify-end  mr-4">
          <v-btn class="white--text orange" tile>
            <v-icon> send </v-icon>
             Send transition
          </v-btn>
    </v-row>
    <penaltyParttime :dialog.sync="dialog" @dialog="(v) => {dialog = v}" />
  </v-container>
</template>

<script>
import datetime from '../components/datetime.vue'
import penaltyParttime from '../components/penaltyParttime.vue'
export default {
  data() {
    return {
      dialog:false,
      WeekSelect: ['01-07 | 10 | 2021', 'Bar', 'Fizz', 'Buzz'],
      hubSelect: ['DMK', 'AMN', 'PWT', 'SRC'],
      checkbox: [],
      headers: [
        {
          text: 'Group Name',
          align: 'center',
          value: 'groupname',
          cellClass: 'clear-pa',
        },  
        {
          text: 'Pickup',
          align: 'center',
          sortable: false,
          value: 'pickup',
          cellClass: 'clear-pa',
        },
        {
          text: 'Dispatch',
          align: 'center',
          sortable: false,
          value: 'dispatch',
          cellClass: 'clear-pa',
        },
        {
          text: 'Penalty',
          align: 'center',
          sortable: false,
          value: 'fieldPenalty',
          cellClass: 'clear-pa',
        },
        {
          text: 'Wage',
          align: 'center',
          sortable: false,
          value: 'fieldWage',
          cellClass: 'clear-pa',
        },
      ],
      desserts: [
        {
          groupname:'แม่ย้อย',
          rotation:'',
          pickup:'',
          dispatch:'',
          penalty: 400,
          wage: 4000,
        },
        {
          groupname:'แม่ยับ',
          rotation:'',
          pickup:'',
          dispatch:'',
          penalty: 400,
          wage: 4000,
        },
      ],
    }
  },
  methods: {
    changeInput(event, item) {
      item.wage = event.replace(',', '')
    },
    isdecimal(item) {
      return item
        .toString()
        .split(/(?=(?:\d{3})+(?:\.|$))/g)
        .join(',')
    }
  },
  components: {
    datetime,
    penaltyParttime,
  },
}
</script>

<style lang="scss" scoped>
</style>
