<template>
  <v-container class="lighten-5 d-flex flex-column">
    <v-row justify="center">
      <v-col cols="12">
        <div class="pa-3">
          <span class="Hearder">Dashboard</span>
        </div>

        <div class="mb-6">
            <datetime />
        </div>

        <v-row class="justify-center">
          <v-col cols="3">
            <v-card class="d-flex flex-column" height="250" color="#FFA800">
              <div
                class="
                  flex-grow-1
                  d-flex
                  align-center
                  justify-center
                  white--text
                "
              >
                <span class="heartext">2</span>
              </div>
              <div class="mb-3 white--text d-flex justify-center">
                <h2>Transaction : Waiting</h2>
              </div>
            </v-card>
          </v-col>

          <v-col cols="3">
            <v-card class="d-flex flex-column" height="250" color="#FFA800">
              <div
                class="
                  flex-grow-1
                  d-flex
                  align-center
                  justify-center
                  white--text">
                <span class="heartext">2,348 Km.</span>
              </div>
              <div class="mb-3 white--text d-flex justify-center">
                <h2>ระยะทางทั้งหมด</h2>
              </div>
            </v-card>
          </v-col>

          <v-col cols="3">
            <v-card class="d-flex flex-column" height="250" color="#FFA800">
              <div
                class="
                  flex-grow-1
                  d-flex
                  align-center
                  justify-center
                  white--text
                "
              >
                <span class="heartext">1,332</span>
              </div>
              <div class="mb-3 white--text d-flex justify-center">
                <h2>จำนวนจุดทั้งหมด</h2>
              </div>
            </v-card>
          </v-col>
          <v-col cols="3">
            <v-card class="d-flex flex-column" height="250" color="#FFA800">
              <div
                class="
                  flex-grow-1
                  d-flex
                  align-center
                  justify-center
                  white--text
                "
              >
                <span class="heartext">735K</span>
              </div>
              <div class="mb-3 white--text d-flex justify-center">
                <h2>ค่าใช้จ่ายทั้งหมด</h2>
              </div>
            </v-card>
          </v-col>
        </v-row>

        <div class="d-flex justify-Star align-center mb-5 mt-5">

            <div class="flex-grow-1">
              <h3>Recently HUB Transaction</h3>
            </div>


        </div>
      
        <v-data-table
          :headers="headers"
          :items="desserts"
          :items-per-page="5"
          class="elevation-1"
        >

        <template v-slot:item.status="{ item }" class="d-flex justify-center">
              <v-card
                 v-if="item.status == 'success'"
                class="white--text d-flex justify-center align-center"
                depressed
                tile
                height="100%"
                width="100"
                color="#B6E37B"
                flat
              >
                Success
              </v-card>

              <v-card
                 v-if="item.status == 'waiting'"
                class="white--text d-flex justify-center align-center"
                depressed
                tile
                height="100%"
                width="100"
                color="#F8E063"
                flat
              >
                Waiting
              </v-card>
            </template>

        </v-data-table>
    


      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import datetime from './../components/datetime.vue'
export default {
  data: () => ({
    headers: [
      {
        text: 'Transaction',
        align: 'center',
        sortable: false,
        value: 'transaction',
        cellClass:'clear-pa'
      },
      { text: 'HUB', align: 'center', sortable: false, value: 'hub',cellClass:'clear-pa' },
      { text: 'DATE', align: 'center', sortable: false, value: 'dateWeek',cellClass:'clear-pa' },
      { text: 'Type', align: 'center', sortable: false, value: 'typeDriver',cellClass:'clear-pa' },
      { text: 'จำนวน', align: 'center', sortable: false, value: 'number',cellClass:'clear-pa' },
      { text: 'สำเร็จ', align: 'center', sortable: false, value: 'success',cellClass:'clear-pa' },
      { text: 'Status', align: 'center', value: 'status' ,cellClass:'clear-pa', width: '5%'},
    ],
    desserts: [
      {
        transaction: 'HT25336890',
        hub: 'ศูนย์กระจายสินค้า DMK',
        dateWeek: 'สัปดาห์ 28/08 - 04/09',
        typeDriver: 'Full Time',
        number: 'คนขับ 11 คน',
        success: 'สำเร็จ 10คน',
        status: 'waiting',
      },
      {
        transaction: 'HT25336890',
        hub: 'ศูนย์กระจายสินค้า PWT',
        dateWeek: 'สัปดาห์ 28/08 - 04/09',
        typeDriver: 'Full Time',
        number: 'คนขับ 13 คน',
        success: 'สำเร็จ 0 คน',
        status: 'success',
      },
    ],
  }),
    components: {
    datetime,
   
  },
}
</script>

<style lang="scss" scoped>
.heartext {
  font-size: 3vw;
  color: white;
}

h3 {
  color: #505050;
}

</style>

