<template>
  <v-container fluid class="lighten-5 h-100 d-flex flex-column">
    <v-row>
      <v-col cols="12">
        <div class="pa-4">
          <span class="Hearder">Transection Full Time</span>
        </div>

        <div class="ml-4">
          <v-row class="align-center">
            <v-col cols="2">
              <datetime />
            </v-col>

            <v-col cols="2">
              <v-select
                class="hubSelect"
                :items="hubSelect"
                label="HUB"
                dense
                hide-details
                color="rgb(255, 115, 0)"
                outlined
              ></v-select>
            </v-col>
          </v-row>
        </div>

        <v-col>
          <v-data-table
            v-model="selected"
            :headers="headers"
            :items="desserts"
            :items-per-page="5"
            checkbox-color="orange"
            show-select
            @click:row="enterTofulltimeDetail()"
            class="elevation-1"
          >
              
            <template v-slot:item.driverName="{ item }">
              <div>{{ item.driverName }}</div>
              <v-btn
                v-if="item.vehicleType == 'bike'"
                rounded
                color="#DFC901"
                dark
                x-small
                >{{ item.vehicleType }}</v-btn
              >

              <v-btn
                v-if="item.vehicleType == 'Car'"
                rounded
                color="#97D614"
                dark
                x-small
                >{{ item.vehicleType }}</v-btn
              >

              <v-btn
                v-if="item.vehicleType == 'Truck'"
                rounded
                color="#DF6C01"
                dark
                x-small
                >{{ item.vehicleType }}</v-btn
              >

              <v-btn
                v-if="item.vehicleType == 'Cool Truck'"
                rounded
                color="#0174DF"
                dark
                x-small
                >{{ item.vehicleType }}</v-btn
              >
            </template>

            <template v-slot:item.standby="{ item }">
              <div class="d-flex justify-center align-center h-100">
                <v-text-field
                  class="fieldInput mr-1"
                  label="THB"
                  outlined
                  hide-details
                  dense
                  readonly
                  :value="isdecimal(item.standby)"
                  @input="changeInput($event, item.standby)"
                ></v-text-field>
              </div>
            </template>

            <template v-slot:item.rotation="{ item }">
              <div class="d-flex justify-center align-center h-100">
                <v-text-field
                  class="fieldInput mr-1"
                  label="Km."
                  outlined
                  hide-details
                  readonly
                  v-model="item.rotation.km"
                  dense
                ></v-text-field>
                <v-text-field
                  class="fieldInput"
                  label="Point"
                  outlined
                  hide-details
                  readonly
                  v-model="item.rotation.point"
                  dense
                ></v-text-field>
              </div>
            </template>

            <template v-slot:item.pickup="{ item }">
              <div class="d-flex justify-center align-center h-100">
                <v-text-field
                  class="fieldInput mr-1"
                  label="Km."
                  outlined
                  hide-details
                  readonly
                  v-model="item.pickup.km"
                  dense
                ></v-text-field>
                <v-text-field
                  class="fieldInput"
                  label="Point"
                  outlined
                  hide-details
                  readonly
                  v-model="item.pickup.point"
                  dense
                ></v-text-field>
              </div>
            </template>

            <template v-slot:item.dispatch="{ item }">
              <div class="d-flex justify-center align-center h-100">
                <v-text-field
                  class="fieldInput mr-1"
                  label="Km."
                  outlined
                  hide-details
                  readonly
                  v-model="item.dispatch.km"
                  dense
                ></v-text-field>
                <v-text-field
                  class="fieldInput"
                  label="Point"
                  outlined
                  hide-details
                  readonly
                  v-model="item.dispatch.point"
                  dense
                ></v-text-field>
              </div>
            </template>

            <template v-slot:item.other="{ item }">
              <v-btn @click="dialog = true" icon color="blue-grey">
                <v-icon>more_vert</v-icon>
              </v-btn>
            </template>

            <template v-slot:item.fieldPenalty="{ item }">
              <div class="d-flex justify-center align-center h-100">
                <v-text-field
                  class="fieldInput"
                  label="THB"
                  outlined
                  hide-details
                  readonly
                  :value="isdecimal(item.penalty)"
                  @input="changeInput($event, item.penalty)"
                  dense
                ></v-text-field>
              </div>
            </template>

            <template v-slot:item.fieldWage="{ item }">
              <div class="d-flex justify-center align-center h-100">
                <v-text-field
                  class="fieldInput"
                  label="THB"
                  outlined
                  hide-details
                  readonly
                  :value="isdecimal(item.wage)"
                  @input="changeInput($event, item.wage)"
                  dense
                ></v-text-field>
              </div>
            </template>
          </v-data-table>

        </v-col>
      </v-col>
    </v-row>

        <v-row class="flex-grow-0 d-flex justify-end  mr-4">
          <v-btn class="white--text orange" tile>
            <v-icon> send </v-icon>
             Send transition
          </v-btn>
        </v-row>
        
    <other :dialog.sync="dialog" @dialog=" (v) => {dialog = v}"/>
  </v-container>
</template>

<script>
import datetime from '../components/datetime.vue'
import other from '../components/other.vue'
export default {
  data() {
    return {
      singleSelect: false,
      selected: [],
      dialog: false,
      WeekSelect: ['01-07 | 10 | 2021', 'Bar', 'Fizz', 'Buzz'],
      hubSelect: ['DMK', 'AMN', 'PWT', 'SRC'],
      checkbox: [],
      headers: [
        {
          text: 'Name',
          align: 'center',
          value: 'driverName',
          cellClass: 'clear-pa',
        },
        {
          text: 'Standby',
          align: 'center',
          sortable: false,
          value: 'standby',
          cellClass: 'clear-pa',
        },
        {
          text: 'Rotation',
          align: 'center',
          sortable: false,
          value: 'rotation',
          cellClass: 'clear-pa',
        },
        {
          text: 'Pickup',
          align: 'center',
          sortable: false,
          value: 'pickup',
          cellClass: 'clear-pa',
        },
        {
          text: 'Dispatch',
          align: 'center',
          sortable: false,
          value: 'dispatch',
          cellClass: 'clear-pa',
        },
        {
          text: 'Other',
          align: 'center',
          sortable: false,
          value: 'other',
          cellClass: 'clear-pa',
        },
        {
          text: 'Penalty',
          align: 'center',
          sortable: false,
          value: 'fieldPenalty',
          cellClass: 'clear-pa',
        },
        {
          text: 'Wage',
          align: 'center',
          sortable: false,
          value: 'fieldWage',
          cellClass: 'clear-pa',
        },
        ],
      desserts: [
        {
          driverName: 'Wanchai Clarypong',
          vehicleType: 'Car',
          standby: 2100,
          rotation: {
            km: '122',
            point: '3',
          },
          pickup: {
            km: '131',
            point: '14',
          },
          dispatch: {
            km: '99',
            point: '11',
          },
          penalty: 11111,
          wage: 8000,
        },
        {
          driverName: 'Sutthipot',
          vehicleType: 'Cool Truck',
          standby: 1800,
          rotation: {
            km: '55',
            point: '2',
          },
          pickup: {
            km: '4',
            point: '44',
          },
          dispatch: {
            km: '56',
            point: '8',
          },
          penalty: 400,
          wage: 4000,
        },
      ],
    }
  },
  methods: {
    changeInput(event, item) {
      item = event.replace(',', '')
    },
    isdecimal(item) {
      return item
        .toString()
        .split(/(?=(?:\d{3})+(?:\.|$))/g)
        .join(',')
    },
    enterTofulltimeDetail(){
      this.$router.push({path: '/fulltimeDetail'});
    },
  },
  components: {
    datetime,
    other,
  },
}
</script>

<style lang="scss" scoped>
</style>
