<template>
  <v-container fluid class="lighten-5 d-flex flex-column">
    <v-row>
      <v-col cols="12">
        <div class="pa-4">
          <span class="Hearder">Calculation Full Time</span>
        </div>

        <div class="ml-4">
          <v-row class="align-center">
            <v-col cols="2">
              <datetime />
            </v-col>

            <v-col cols="2">
              <v-select
                class="hubSelect"
                :items="hubSelect"
                label="HUB"
                dense
                hide-details
                color="rgb(255, 115, 0)"
                outlined
              ></v-select>
            </v-col>
          </v-row>
        </div>

        
        <v-col>
          <v-data-table
            :headers="headers"
            :items="desserts"
            :items-per-page="5"
            class="elevation-1"
          >
            <template v-slot:item.driverName="{ item }">
              <div>{{ item.driverName }}</div>
              <v-btn
                v-if="item.vehicleType == 'bike'"
                rounded
                color="#DFC901"
                dark
                x-small
                >{{ item.vehicleType }}</v-btn>

              <v-btn
                v-if="item.vehicleType == 'Car'"
                rounded
                color="#97D614"
                dark
                x-small
                >{{ item.vehicleType }}</v-btn>

              <v-btn
                v-if="item.vehicleType == 'Truck'"
                rounded
                color="#DF6C01"
                dark
                x-small
                >{{ item.vehicleType }}</v-btn>

              <v-btn
                v-if="item.vehicleType == 'Cool Truck'"
                rounded
                color="#0174DF"
                dark
                x-small
                >{{ item.vehicleType }}</v-btn>
            </template>

            <template v-slot:item.standby="{ item }">
              <v-checkbox class="d-inline-flex shrink mr-2 mt-0" v-model="checkbox" color="orange" hide-details></v-checkbox>
            </template>

            <template v-slot:item.rotation="{ item }">
              <div class="d-flex justify-center align-center h-100">
                <v-text-field
                  class="fieldInput mr-1"
                  label="Km."
                  outlined
                  hide-details
                  :disabled="item.status == 'save'"
                  v-model="item.rotation.km"
                  dense
                ></v-text-field>
                <v-text-field
                  class="fieldInput"
                  label="Point"
                  outlined
                  hide-details
                  :disabled="item.status == 'save'"
                  v-model="item.rotation.point"
                  dense
                ></v-text-field>
              </div>
            </template>

            <template v-slot:item.pickup="{ item }">
              <div class="d-flex justify-center align-center h-100">
                <v-text-field
                  class="fieldInput mr-1"
                  label="Km."
                  outlined
                  hide-details
                  :disabled="item.status == 'save'"
                  v-model="item.pickup.km"
                  dense
                ></v-text-field>
                <v-text-field
                  class="fieldInput"
                  label="Point"
                  outlined
                  hide-details
                  :disabled="item.status == 'save'"
                  v-model="item.pickup.point"
                  dense
                ></v-text-field>
              </div>
            </template>

            <template v-slot:item.dispatch="{ item }">
              <div class="d-flex justify-center align-center h-100">
                <v-text-field
                  class="fieldInput mr-1"
                  label="Km."
                  outlined
                  hide-details
                  :disabled="item.status == 'save'"
                  v-model="item.dispatch.km"
                  dense
                ></v-text-field>
                <v-text-field
                  class="fieldInput"
                  label="Point"
                  outlined
                  hide-details
                  :disabled="item.status == 'save'"
                  v-model="item.dispatch.point"
                  dense
                ></v-text-field>
              </div>
            </template>

            <template v-slot:item.more="{ item }">
              <v-btn
              @click="dialog = true"
              icon
              color="blue-grey">
              <v-icon>more</v-icon>
            </v-btn>
            </template>

            <template v-slot:item.fieldPenalty="{ item }">
              <div class="d-flex justify-center align-center h-100">
                <v-text-field
                  class="fieldInput"
                  label="THB"
                  outlined
                  hide-details
                  readonly
                  :value="isdecimal(item.penalty)"
                  @input="changeInput($event, item.penalty)"
                  dense
                ></v-text-field>
              </div>
            </template>

            <template v-slot:item.fieldWage="{ item }">
              <div class="d-flex justify-center align-center h-100">
                <v-text-field
                  class="fieldInput"
                  label="THB"
                  outlined
                  hide-details
                  readonly
                  :value="isdecimal(item.wage)"
                  @input="changeInput($event, item.wage)"
                  dense
                ></v-text-field>
              </div>
            </template>

            <template v-slot:item.button="{ item }">
              <v-btn class="blue-grey--text"
                tile
                height="100%"
                width="100%"
                v-if="item.status == ''"
                @click="item.status = 'save'"
              >
                <v-icon> save </v-icon>
                Save
              </v-btn>
            </template>
          </v-data-table>
        </v-col>
      </v-col>
    </v-row>
    <penalty :dialog.sync="dialog" @dialog="(v) => {dialog = v}" />
  </v-container>
</template>

<script>
import datetime from '../components/datetime.vue'
import penalty from '../components/penalty.vue'
export default {
  data() {
    return {
      dialog:false,
      WeekSelect: ['01-07 | 10 | 2021', 'Bar', 'Fizz', 'Buzz'],
      hubSelect: ['DMK', 'AMN', 'PWT', 'SRC'],
      checkbox: [],
      headers: [
        {
          text: 'Name',
          align: 'center',
          value: 'driverName',
          cellClass: 'clear-pa',
        },
        {
          text: 'Standby',
          align: 'center',
          sortable: false,
          value: 'standby',
          cellClass: 'clear-pa',
        },
        {
          text: 'Rotation',
          align: 'center',
          sortable: false,
          value: 'rotation',
          cellClass: 'clear-pa',
        },
        {
          text: 'Pickup',
          align: 'center',
          sortable: false,
          value: 'pickup',
          cellClass: 'clear-pa',
        },
        {
          text: 'Dispatch',
          align: 'center',
          sortable: false,
          value: 'dispatch',
          cellClass: 'clear-pa',
        },
        {
          text: 'More',
          align: 'center',
          sortable: false,
          value: 'more',
          cellClass: 'clear-pa',
        },
        {
          text: 'Penalty',
          align: 'center',
          sortable: false,
          value: 'fieldPenalty',
          cellClass: 'clear-pa',
        },
        {
          text: 'Wage',
          align: 'center',
          sortable: false,
          value: 'fieldWage',
          cellClass: 'clear-pa',
        },
        {
          text: ' ',
          align: 'center',
          sortable: false,
          value: 'button',
          cellClass: 'clear-pa',
          width: '5%',
        },
      ],
      desserts: [
        {
          driverName: 'Wanchai Clarypong',
          vehicleType: 'Car',
          rotation: {
            km: '',
            point: '',
          },
          pickup: {
            km: '',
            point: '',
          },
          dispatch: {
            km: '',
            point: '',
          },
          penalty: 11111,
          wage: 8000,
          status: '',
        },
        {
          driverName: 'Sutthipot',
          vehicleType: 'Cool Truck',
          rotation: {
            km: '',
            point: '',
          },
          pickup: {
            km: '',
            point: '',
          },
          dispatch: {
            km: '',
            point: '',
          },
          penalty: 400,
          wage: 4000,
          status: '',
        },
      ],
    }
  },
  methods: {
    changeInput(event, item) {
      item = event.replace(',', '')
    },
    isdecimal(item) {
      return item
        .toString()
        .split(/(?=(?:\d{3})+(?:\.|$))/g)
        .join(',')
    },
  },
  components: {
    datetime,
    penalty,
  },
}
</script>

<style lang="scss" scoped>
</style>
