<template>
  <v-container fluid class="lighten-5 d-flex h-100 flex-column">
    <v-row>
      <v-col cols="12">
        <div class="pa-4">
          <span class="Hearder">History Part Time</span>
        </div>

        <div class="ml-4">
          <v-row class="align-center">
            <v-col cols="2">
              <datetime />
            </v-col>

            <v-col cols="2">
              <v-select
                class="hubSelect"
                :items="hubSelect"
                label="HUB"
                dense
                hide-details
                color="rgb(255, 115, 0)"
                outlined
              ></v-select>
            </v-col>
          </v-row>
        </div>

        
        <v-col>
          <v-data-table
            :headers="headers"
            :items="desserts"
            :items-per-page="5"
            class="elevation-1"
          >
            <template v-slot:item.driverName="{ item }">
              <div>{{ item.driverName }}</div>
              <v-btn
                v-if="item.vehicleType == 'bike'"
                rounded
                color="#DFC901"
                dark
                x-small
                >{{ item.vehicleType }}</v-btn
              >

              <v-btn
                v-if="item.vehicleType == 'Car'"
                rounded
                color="#97D614"
                dark
                x-small
                >{{ item.vehicleType }}</v-btn
              >

              <v-btn
                v-if="item.vehicleType == 'Truck'"
                rounded
                color="#DF6C01"
                dark
                x-small
                >{{ item.vehicleType }}</v-btn
              >

              <v-btn
                v-if="item.vehicleType == 'Cool Truck'"
                rounded
                color="#0174DF"
                dark
                x-small
                >{{ item.vehicleType }}</v-btn
              >
            </template>

            <template v-slot:item.pickup="{ item }">
              <div class="d-flex justify-center align-center h-100">
                <v-text-field
                  class="fieldInput"
                  label="Point"
                  outlined
                  hide-details
                  v-model="item.pickup"
                  dense
                ></v-text-field>
              </div>
            </template>

            <template v-slot:item.dispatch="{ item }">
              <div class="d-flex justify-center align-center h-100">
                <v-text-field
                  class="fieldInput"
                  label="Point"
                  outlined
                  hide-details
                  v-model="item.dispatch"
                  dense
                ></v-text-field>
              </div>
            </template>

            <template v-slot:item.more="{ item }">
              <v-btn
              @click="dialog = true"
              icon
              color="blue-grey">
              <v-icon>more</v-icon>
            </v-btn>
            </template>

            <template v-slot:item.fieldPenalty="{ item }">
              <div class="d-flex justify-center align-center h-100">
                <v-text-field
                  class="fieldInput"
                  label="THB"
                  outlined
                  hide-details
                  readonly
                  :value="isdecimal(item.penalty)"
                  @input="changeInput($event, item.penalty)"
                  dense
                ></v-text-field>
              </div>
            </template>

            <template v-slot:item.fieldWage="{ item }">
              <div class="d-flex justify-center align-center h-100">
                <v-text-field
                  class="fieldInput"
                  label="THB"
                  outlined
                  hide-details
                  readonly
                  :value="isdecimal(item.wage)"
                  @input="changeInput($event, item.wage)"
                  dense
                ></v-text-field>
              </div>
            </template>
            <template v-slot:item.status="{ item }">
              <v-btn
                v-if="item.status == 'success'"
                @click="dialogs = true"
                outlined
                color="#A6E440"
                small
                >{{ item.status }}</v-btn
              >

              <v-btn
                v-if="item.status == 'waiting'"
                outlined
                color="#F3DA57"
                small
                >{{ item.status }}</v-btn>

            </template>

          </v-data-table>
        </v-col>
      </v-col>
    </v-row>
    <v-row class="flex-grow-0 d-flex justify-start  ml-4">
          <exportHistory />
    </v-row>
    <penaltyParttime :dialog.sync="dialog" @dialog="(v) => {dialog = v}" />
    <slip :dialogs.sync="dialogs" @dialogs=" (v) => {dialogs = v}"/>
  </v-container>
</template>

<script>
import datetime from '../components/datetime.vue'
import penaltyParttime from '../components/penaltyParttime.vue'
import slip from '../components/slip.vue'
export default {
  data() {
    return {
      dialog:false,
      dialogs:false,
      WeekSelect: ['01-07 | 10 | 2021', 'Bar', 'Fizz', 'Buzz'],
      hubSelect: ['DMK', 'AMN', 'PWT', 'SRC'],
      headers: [
        {
          text: 'Name',
          align: 'center',
          value: 'driverName',
          cellClass: 'clear-pa',
        },  
        {
          text: 'Pickup',
          align: 'center',
          sortable: false,
          value: 'pickup',
          cellClass: 'clear-pa',
        },
        {
          text: 'Dispatch',
          align: 'center',
          sortable: false,
          value: 'dispatch',
          cellClass: 'clear-pa',
        },
        {
          text: 'More',
          align: 'center',
          sortable: false,
          value: 'more',
          cellClass: 'clear-pa',
        },
        {
          text: 'Penalty',
          align: 'center',
          sortable: false,
          value: 'fieldPenalty',
          cellClass: 'clear-pa',
        },
        {
          text: 'Wage',
          align: 'center',
          sortable: false,
          value: 'fieldWage',
          cellClass: 'clear-pa',
        },
        {
          text: 'Status',
          align: 'center',
          sortable: false,
          value: 'status',
          cellClass: 'clear-pa',
        },
      ],
      desserts: [
        {
          driverName: 'Wanchai Clarypong',
          vehicleType: 'Car',
          rotation:'',
          pickup:'',
          dispatch:'',
          penalty: 400,
          wage: 4000,
          status: 'success',
        },
        {
          driverName: 'Sutthipot',
          vehicleType: 'bike',
          rotation:'',
          pickup:'',
          dispatch:'',
          penalty: 400,
          wage: 4000,
          status: 'waiting',
        },
      ],
    }
  },
  methods: {
    changeInput(event, item) {
      item.wage = event.replace(',', '')
    },
    isdecimal(item) {
      return item
        .toString()
        .split(/(?=(?:\d{3})+(?:\.|$))/g)
        .join(',')
    }
  },
  components: {
    datetime,
    penaltyParttime,
    slip,
  },
}
</script>

<style lang="scss" scoped>
</style>
