<template>
  <v-row>
    <v-col>
      <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        :return-value.sync="date"
        transition="scale-transition"
        offset-y
        hide-details
      >
        <template v-slot:activator="{ on, attrs }">
            <v-text-field class="datetime"
            prepend-inner-icon="mdi-calendar"
            color="rgb(255, 115, 0)"
            readonly
            v-bind="attrs"
            v-on="on"
            v-model="date"
            
          ></v-text-field>

        </template>
        <v-date-picker
          v-model="date"
          no-title
          scrollable
          dark
          color="rgb(255, 115, 0)"
        >
          <v-spacer></v-spacer>
          <v-btn
            text
            color="rgb(255, 115, 0)"
            @click="menu = false"
          >
            Cancel
          </v-btn>
          <v-btn
            text
            color="rgb(255, 115, 0)"
            @click="$refs.menu.save(date)"
          >
            OK
          </v-btn>
        </v-date-picker>
      </v-menu>
    </v-col>
  </v-row>
</template>

<script>
  export default {
    data: () => ({
      date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
      menu: false,
      modal: false,
      menu2: false,
    }),
  }
</script>

<style lang="scss" scoped>
.datetime {
  font-weight: 500;
  font-size: 1vw;
  color: rgb(255, 115, 0) !important;
  width: 120px;
}

</style>
