<template>
  <v-container fluid class="lighten-5 d-flex flex-column">
    <v-row>
      <v-col cols="12">
        <template>
          <div class="text-center">
            <v-dialog v-model="dialog_display" width="600">
              <v-card>
                <v-card-title class="text-h5 mb-8 grey darken-3 white--text">
                  <span class="hearder-popup" >Other</span>
                </v-card-title>

                <v-card-text>
                  <v-row align="center" class="mb-3 ml-2">
                    <span class="flex-grow-1">เบี้ยขยัน</span>
                    <v-checkbox
                      v-model="enabled"
                      color="orange"
                      value="PenaltyF"
                      hide-details
                      class="shrink mr-2 mt-0"
                    ></v-checkbox>
                  </v-row>
                  <v-row align="center" class="mb-1 ml-2">
                    <span class="flex-grow-1 mr-3">โอนเงินขาด (บวก)</span>
                    <v-text-field
                      :disabled="!enabled"
                      class="fieldInput mr-3"
                      label="THB"
                      outlined
                      hide-details
                      dense
                    ></v-text-field>
                  </v-row>

                  <v-row align="center" class="mb-1 ml-2">
                    <span class="flex-grow-1 mr-3">โอนเงินเกิน (ลบ)</span>
                    <v-text-field
                      :disabled="!enabled"
                      class="fieldInput mr-3"
                      label="THB"
                      outlined
                      hide-details
                      dense
                    ></v-text-field>
                  </v-row>

                  <v-row align="center" class="mb-1 ml-2">
                    <span class="flex-grow-1 mr-3">หักเงินประกัน</span>
                    <v-text-field
                      :disabled="!enabled"
                      class="fieldInput mr-3"
                      label="THB"
                      outlined
                      hide-details
                      dense
                    ></v-text-field>
                  </v-row>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="orange" text @click="dialog_display = false">
                    Done
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
        </template>
      </v-col>
    </v-row>
  </v-container>
</template>
 


<script>
export default {
  props: ['dialog'],
  data() {
    return {
      includeFiles: true,
      enabled: [
        'penaltyA',
        'penaltyB',
        'penaltyC',
        'penaltyD',
        'penaltyF',
        'penaltyG',
        'penaltyH',
        'penaltyI',
        'penaltyJ',
      ],
    }
  },
  computed: {
    dialog_display: {
      set(v) {
        console.log('emit', v)
        this.$emit('dialog', v)
      },
      get() {
        return this.dialog
      },
    },
  },
}
</script>

<style lang="scss" scoped>
.flex-grow-1 {
  color: #383737 !important;
}
.mr-3 {
  color: #383737 !important;
}
</style>
          
 