<template>
  <v-container fluid class="lighten-5 d-flex flex-column">
    <v-row>
      <v-col cols="12">
        <template>
          <div class="text-center">
            <v-dialog v-model="dialogs_display" width="500">
              <v-card>
                <v-card-title class="text-h5 mb-8 grey darken-3 white--text">
                  <span class="hearder-popup" >หลักฐานการโอนเงิน</span>
                </v-card-title>


            <div class="d-flex justify-center mb-3">
                <V-card
                  max-width="400">
                <v-img
                    src="https://www.microsuck.net/wp-content/uploads/2019/09/1.png"
                ></v-img>

                <div class="pa-5">
                <div class="text-h5">Note</div>
                <v-divider class="mb-5"></v-divider>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gkrelgksklgklgeklgdklgjodsgjdsopgjojmgerะำพเกดเดกห้ะ้ะพ่ะพ่ะพ่ะพ่ะพ่ะ่ัะ่ัะ่ัะ่ัะ่ัะ่ัะ</span>
                </div>
                </V-card>
           
           
              
            </div>
                <v-divider></v-divider>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="orange" text @click="dialogs_display = false">
                    Done
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
        </template>
      </v-col>
    </v-row>
  </v-container>
</template>
 


<script>
export default {
  props: ['dialogs'],
  data() {
    return {
      includeFiless: true,
    }
  },
  computed: {
    dialogs_display: {
      set(v) {
        console.log('emit', v)
        this.$emit('dialogs', v)
      },
      get() {
        return this.dialogs
      },
    },
  },
}
</script>

<style lang="scss" scoped>
.flex-grow-1 {
  color: #383737 !important;
}
.mr-3 {
  color: #383737 !important;
}
</style>
          
 