.h-100 {
    height: 100%;
}
.clear-pa{
    padding: 0px !important;
}


.fieldInput {
    max-width: 80px !important;
   
  }
.Hearder {
    font-size: 1.5vw;
    font-weight: 400;
    font-family: "Prompt",sans-serif!important;
}
.hearder-popup {
    font-weight: 400;
    font-family: "Prompt",sans-serif!important;
}

.WeekSelect  {
    max-width: 200px !important;
  }

.hubSelect {
    max-width: 100px !important;
}
.workingDay {
    box-shadow: 0 0 1px;
    border-radius: 1px;
    font-weight: 600;
    color: #607D8B;
    max-width: 25px;
    background-color: #f5f5f5;
}